<template>
  <div class="q-pa-md q-gutter-sm">
    <div class="text-h6">
      Wetterdaten
      <q-badge color="green-9" align="bottom">von Nick und Lleyton</q-badge>
    </div>
    <div v-if="weatherData">
      <div class="q-pb-md">
        <q-btn-dropdown
          color="green-9"
          label="Locations"
          dropdown-icon="change_history"
          size="sm"
          persistent=""
          no-caps=""
          no-wrap=""
          dense=""
        >
          <q-list>
            <q-item clickable v-close-popup @click="onItemClick">
              <q-item-section>
                <q-item-label>Lübeck</q-item-label>
              </q-item-section>
            </q-item>

            <q-item clickable v-close-popup @click="onItemClick">
              <q-item-section>
                <q-item-label>Hamburg</q-item-label>
              </q-item-section>
            </q-item>

            <q-item clickable v-close-popup @click="onItemClick">
              <q-item-section>
                <q-item-label>Berlin</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-btn-dropdown>
        <q-btn color="black" text-color="white" size="xs">
          <q-icon name="warning" color="warning" />
          Clustern?
        </q-btn>
      </div>
      <q-list
        class="bg-grey text-white shadow-2 rounded-borders"
        style="max-width: 300px; width: 100%"
      >
        <q-item>
          <q-item-section avatar>
            <q-avatar>
              <img
                :src="
                  'https://openweathermap.org/img/wn/' +
                  weatherData.weather[0].icon +
                  '@2x.png'
                "
                style="height: 10px; max-width: 30px"
              />
            </q-avatar>
          </q-item-section>
          <q-item-section>
            Wetter:{{ weatherData.weather[0].description }}</q-item-section
          >
        </q-item>
        <q-separator dark />
        <q-item>
          <!--
        <q-item-section avatar>
            <q-avatar>
              <img src="https://cdn.quasar.dev/img/avatar5.jpg" />
            </q-avatar>
          </q-item-section>
       -->
          <q-item-section>
            Aktuelle Temperatur 🌡️:
            {{ weatherData.main.temp.toFixed() }} °C</q-item-section
          >
        </q-item>
        <q-separator dark />
        <q-item>
          <q-item-section>
            Aktuelle Luftfeuchtigkeit 💦:
            {{ weatherData.main.humidity.toFixed() }} %</q-item-section
          >
        </q-item>
        <q-separator dark />
        <q-item>
          <q-item-section>
            Mittelwert Temperatur 🍻:
            {{ temperatureStats.mean.toFixed(1) }} °C</q-item-section
          >
        </q-item>
        <q-separator dark />
        <q-item>
          <q-item-section>
            Median Temperatur 🫣:
            {{ temperatureStats.median.toFixed(1) }} °C</q-item-section
          >
        </q-item>
        <q-separator dark />
        <q-item>
          <q-item-section>
            Varianz Temperatur 🦍:
            {{ temperatureStats.variance.toFixed(1) }}</q-item-section
          >
        </q-item>
        <q-separator dark />
        <q-item>
          <q-item-section
            >Standardabweichung :
            {{ temperatureStats.deviation }}</q-item-section
          >
        </q-item>
        <q-separator dark />
        <q-item>
          <q-item-section
            >Deviation :
            {{ temperatureStats.deviation }}</q-item-section
          >
        </q-item>

      </q-list>
      <!--
      <p>
        Wetter:
        <img
          :src="
            'https://openweathermap.org/img/wn/' +
            weatherData.weather[0].icon +
            '@2x.png'
          "
          style="height: 10px; max-width: 30px"
        />
        {{ weatherData.weather[0].description }}
      </p>
      <p v-if="weatherData.main.temp != null">
        Aktuelle Temperatur 🌡️: {{ weatherData.main.temp.toFixed() }} °C
      </p>
      <p v-if="weatherData.main.humidity != null">
        Aktuelle Luftfeuchtigkeit 💦:
        {{ weatherData.main.humidity.toFixed() }} %
      </p>
      <p v-if="temperatureStats.mean != null">
        Mittelwert Temperatur 🍻: {{ temperatureStats.mean.toFixed(1) }} °C
      </p>
      <p v-if="temperatureStats.median != null">
        Median Temperatur 🫣: {{ temperatureStats.median.toFixed(1) }} °C
      </p>
      <p v-if="temperatureStats.variance != null">
        Varianz Temperatur 🦍: {{ temperatureStats.variance.toFixed(1) }}
      </p>
      <p v-if="temperatureStats.deviation != null">
        Standardabweichung : {{ temperatureStats.deviation.toFixed(2) }}
      </p>
      <p v-if="temperatureStats.deviation != null">
        Deviation : {{ temperatureStats.deviation.toFixed(2) }}
      </p>
      <p v-if="temperatureStats.Spannweite != null">
        Spannweite : {{ temperatureStats.Spannweite.toFixed(2) }}
      </p>
      <p v-if="temperatureStats.Entropie != null">
        Entropie : {{ temperatureStats.Entropie.toFixed(2) }}
      </p>
      <p v-if="temperatureStats.minTemp != null">
        Minimal Temperatur : {{ temperatureStats.minTemp.toFixed(1) }}
      </p>
      <p v-if="temperatureStats.maxTemp != null">
        Maximal Temperatur : {{ temperatureStats.maxTemp.toFixed(1) }}
      </p>
     <TemperatureChart :temperatureStats="weatherData.temperatureStats"></TemperatureChart> -->
    </div>

    <div v-else>
      <p>Wetterdaten werden geladen...</p>
    </div>
  </div>
  <div class="q-gutter-md q-ml-none">
    <a href="https://www.youtube.com/watch?v=3mfTB5wLTtg" target="_blank">
      <q-btn color="white" text-color="black" size="xs">
        SIU?
        <q-badge color="red" rounded floating />
      </q-btn>
    </a>
  </div>
</template>

<script>
//import Vue from 'vue';
//import TemperatureChart from './TemperatureChart.vue';

//Vue.component('TemperatureChart', TemperatureChart);
export default {
  data() {
    return {
      weatherData: null,
      forecastData: null,
      apiKey: '610652e1ee234b63ea4dbf291d042248',
      lat: '53.8655',
      lon: '10.6866',
      apiUrl: 'https://api.openweathermap.org/data/2.5/weather',
      forecastUrl: 'https://api.openweathermap.org/data/2.5/forecast',
      temperatureStats: {
        mean: null,
        median: null,
        variance: null,
        temperatures: [],
        deviation: null,
        Spannweite: null,
        Entropie: null,
        minTemp: null,
        maxTemp: null,
      },
    };
  },
  created() {
    this.fetchWeatherData();
  },
  methods: {
    async fetchWeatherData() {
      try {
        const response = await fetch(
          `${this.apiUrl}?lat=${this.lat}&lon=${this.lon}&units=metric&lang=de&appid=${this.apiKey}`
        );
        const forecastResponse = await fetch(
          `${this.forecastUrl}?lat=${this.lat}&lon=${this.lon}&units=metric&lang=de&appid=${this.apiKey}`
        );
        if (response.ok) {
          this.weatherData = await response.json();
          this.forecastData = await forecastResponse.json();
          this.updateStatistics();
        } else {
          throw new Error('Fehler beim Abrufen der Wetterdaten');
        }
      } catch (error) {
        console.error(error);
      }
    },
    updateStatistics() {
      if (this.weatherData) {
        for (const data of this.forecastData.list) {
          this.temperatureStats.temperatures.push(data.main.temp);
        }

        // Add the current weather temperature to the statistics array
        if (this.weatherData.main.temp) {
          this.temperatureStats.temperatures.push(this.weatherData.main.temp);
        }

        this.calculateTemperatureStats();
      } else {
        console.log('Weather data not available yet');
      }
    },
    calculateTemperatureStats() {
      const temps = this.temperatureStats.temperatures;
      if (temps.length > 0) {
        //Mittelwert
        const sum = temps.reduce((acc, val) => acc + val, 0);
        this.temperatureStats.mean = sum / temps.length;

        //Median
        temps.sort((a, b) => a - b);
        const mid = Math.floor(temps.length / 2);
        this.temperatureStats.median =
          temps.length % 2 !== 0
            ? temps[mid]
            : (temps[mid - 1] + temps[mid]) / 2;

        //Varainz
        const mean = this.temperatureStats.mean;
        const variance =
          temps.reduce((acc, val) => acc + (val - mean) ** 2, 0) / temps.length;
        this.temperatureStats.variance = variance;

        // Deviation
        this.temperatureStats.deviation = Math.sqrt(variance);
      }
    },
  },
};
</script>
