<template>
  <div class="temperature-chart">
    <canvas id="temperatureChart"></canvas>
  </div>
</template>

<script>
import Chart from 'chart.js';

export default {
  mounted() {
    this.fetchWeatherData();
    // Create chart instance
    this.createChart();
  },

  fetchWeatherData() {
    this.fetchWeatherDataAsync();
  },

  createChart() {
    const ctx = document.getElementById('temperatureChart').getContext('2d');
    const myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: this.temperatureStats.temperatures.map(date => new Date(date).toLocaleDateString()),
        datasets: [{
          label: 'Temperatures',
          data: this.temperatureStats.temperatures,
          backgroundColor: 'rgba(0, 0, 255, 0.2)',
          borderColor: 'blue',
          lineTension: 0.5,
        }],
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true,
            },
          }],
        },
      },
    });
  },

  async fetchWeatherDataAsync() {
    // Fetch weather data
    const response = await fetch('https://api.openweathermap.org/data/2.5/weather?lat=53.8655&lon=10.6866&units=metric&lang=de&appid=API_KEY');
    const weatherData = await response.json();

    // Update temperatureStats
    this.temperatureStats.temperatures = [];
    for (const data of weatherData.forecast.list) {
      this.temperatureStats.temperatures.push(data.main.temp);
    }

    // Add current temperature
    this.temperatureStats.temperatures.push(weatherData.main.temp);

    // Calculate temperature stats
    this.calculateTemperatureStats();
  },

  calculateTemperatureStats() {
    const temps = this.temperatureStats.temperatures;
    if (temps.length > 0) {
      // Mean
      const sum = temps.reduce((acc, val) => acc + val, 0);
      this.temperatureStats.mean = sum / temps.length;

      // Median
      temps.sort((a, b) => a - b);
      const mid = Math.floor(temps.length / 2);
      this.temperatureStats.median = temps.length % 2 !== 0 ? temps[mid] : (temps[mid - 1] + temps[mid]) / 2;

      // Variance
      const mean = this.temperatureStats.mean;
      const variance = temps.reduce((acc, val) => acc + (val - mean) ** 2, 0) / temps.length;
      this.temperatureStats.variance = variance;

      // Deviation
      this.temperatureStats.deviation = Math.sqrt(variance);
    }
  },
};

</script>
